body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #00adb5;
    text-transform: uppercase;
}

.warnanavbar {
    background-color: gray;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
}

.login {
    border: 0;
    height: 500px;
    margin: auto;
    background-color: rgba(102, 193, 250, 0.7); /* Add background color for visual */
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.login h4 {
    margin-top: 100px;
    color: white;
}

form .form-group input {
    margin: auto;
}

form .user input {
    margin: auto;
    margin-top: 70px;
}

.btn-group {
    margin-top: -2vh;
    margin-bottom: 2vh; 
}

.btn-primary{
 margin-bottom: 8vh;
}

.btn-danger{
    margin-bottom: 8vh;
}

.btn-check:checked + .btn-outline-primary {
    background-color: #00FF00;
    border-color: #00FF00;
    color: #fff; 
    }
    
    .btn-check:not(:checked) + .btn-outline-primary:hover {
    background-color: lime;
    border-color: lime;
    color: #fff; 
    }